body {
  margin: 0;
  color: #222;
  font-family: "Lato", sans-serif;
}

#container, footer {
  max-width: 960px;
  margin: 1rem auto;
  padding: 1rem;
}

blockquote {
  border-left: 3px solid #eee;
  padding-left: 1rem;
}
